.hero
{
    text-align:center;
    padding:80px 20px;
    max-width: 800px;
    margin: auto;
}
H3
{
    color: rgba(37, 18, 8, 0.649);
}

.navbar
{
    justify-content:space-between;
    display:flex;
    align-items:center;
    padding:20px 60px;
}
.nav-links
{
    display:flex;
    gap:20px;
}
.nav-links a
{
    text-decoration: underline;
    color:black;
    transition:0.3s;
}
.nav-links a:hover{
    color:rgb(0, 136, 255);
}
body
{
    background-color:#eef2ff;
    font-family: 'Segoe UI', sans-serif;
}
.manage
{
    justify-content:space-evenly;
    display:flex;
}
button
{
    color:white;
    padding:12px 24px;
    border-radius:8px;
    background-color:#002d904d;
    cursor:pointer;
    border:none;
}

.features{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition:0.3s
}

.card:hover{
    transform: translateY(-10px);
}
.Importance{
    justify-content:center;
    gap:20px;
    display:flex;
}
.card1
{
    background:white;
    width:220px;
    padding:20px;
    border-radius:12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition:0.3s
}
.card1:hover
{
    transform: translateY(-10px);
}
.statistics
{
    display:flex;
    gap: 20px;
    justify-content: center;
    
}
.Questions{
    background:white;
    width:220px;
    padding:20px;
    border-radius:12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
    text-align: center;
    
}
.Questions:hover
{
    transform: translateY(-10px);
}
.manager-section{
   
    display: flex;
    gap:20px;
    justify-content:center;
}
.Topic-Manager
{
   background:white;
    width:300px;
    height:100px;
    padding:20px;
    margin:30px auto;
    border-radius:10px;
    box-shadow:0px 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.Topic-Manager:hover
{
    transform: translateY(-10px);
}
#btn
{
    color:white;
    padding:5px 10px;
    border-radius:8px;
    background-color:#002d904d;
    cursor:pointer;
    border:none;
}
#topicList
{
    margin-top: 15px;
    width: 100%;
}
.topic-item{
    background:white;
    padding:10px;
    margin-top:10px 0;
    border-radius:10px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.topic-item button
{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}
